/* Container for staking transactions */
.stakedContainer {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly lighter black */
  border-radius: 5px;
  padding: 20px; /* Increased padding for better spacing */
  margin-bottom: 20px; /* Increased margin for spacing between items */
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 100%; /* Ensure it doesn't stretch beyond container */
  width: 100%; /* Full width within parent container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Main container for the page */
.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Slightly lighter and transparent black */
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 120px;
  min-height: 100vh; /* Ensures the container takes at least full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px; /* Add space for the footer */
  box-sizing: border-box;
}

/* Header styling */
.header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

/* Box containing information */
.infoBox {
  border: 1px solid #555;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Slightly lighter black for distinction */
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Header inside infoBox */
.infoBox h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

/* Paragraphs inside infoBox */
.infoBox p {
  margin: 5px 0;
  font-size: 1em;
}

/* Container for input elements */
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Styling for input fields */
.input,
.select {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #555;
  margin-bottom: 10px;
  color: #000;
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

/* Button container styling */
.buttonContainer {
  margin-top: 20px; /* Adjust as needed */
  text-align: center; /* Center the link */
}

/* Styling for buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid #0070f3; /* Border color */
  background-color: rgba(0, 0, 0, 0.8); /* Background color */
  color: #0070f3; /* Text color */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Indicate that it's clickable */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
  text-align: center; /* Center align text */
}

.button:hover {
  background-color: #0070f3; /* Change background on hover */
  color: #fff; /* Change text color on hover */
}

/* Styling for margins */
.marginLeft {
  margin-left: 10px;
}

/* Container for staking options */
.stakingOptionsContainer {
  margin-top: 30px;
}

/* Styling for individual staking options */
.stakingOption {
  border: 1px solid #555;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Slightly lighter black for distinction */
  color: #fff;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  cursor: pointer; /* Indicate that the element is interactive */
  max-width: 100%; /* Ensure it fits within its container */
  width: 100%; /* Full width within the parent container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Hover effect for staking options */
.stakingOption:hover,
.stakingOption:focus {
  transform: scale(1.05); /* Slightly increase the size */
  border-color: #0070f3; /* Change border color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

/* Header inside staking options */
.stakingOption h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

/* Paragraphs inside staking options */
.stakingOption p {
  margin: 5px 0;
  font-size: 1em;
}

.stakingOption p:first-child {
  font-weight: bold;
}

/* Styling for view transactions link */
.viewTransactionsLink {
  display: inline-block;
  margin-top: 20px;
  color: #0070f3; /* Bright blue color for visibility */
  text-decoration: underline;
  font-size: 1.2em; /* Slightly larger font size for better visibility */
  padding: 10px 20px; /* Padding for button-like appearance */
  border-radius: 5px; /* Rounded corners for consistency */
  border: 2px solid #0070f3; /* Border to match link color */
  background-color: rgba(0, 0, 0, 0.8); /* Dark background to contrast with text color */
  cursor: pointer; /* Indicate that it's clickable */
  transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
}

/* Hover effect for view transactions link */
.viewTransactionsLink:hover {
  background-color: #0070f3; /* Bright blue background on hover */
  color: #fff; /* White text on hover */
}

/* Container for total staked by all users */
.totalStakedContainer {
  margin-top: 20px; /* Adjust for visual separation */
  border: 1px solid #555;
  border-radius: 8px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6); /* Slightly lighter black for distinction */
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 100%; /* Ensure it fits within its container */
  width: 100%; /* Full width within the parent container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
